@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .aurora-bg {
    background:
      radial-gradient(at 0% 0%, rgba(255, 255, 255, 0.8) 0px, transparent 50%),
      radial-gradient(at 100% 0%, rgba(224, 242, 254, 0.8) 0px, transparent 50%),
      radial-gradient(at 100% 100%, rgba(236, 254, 255, 0.8) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgba(240, 253, 244, 0.8) 0px, transparent 50%);
    background-color: #f8fafc;
    /* Slate-50 */
    background-size: 100% 100%;
  }

  .glass-panel {
    @apply bg-white/80 backdrop-blur-md border border-white/60 shadow-lg shadow-slate-200/50;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse-soft {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

@keyframes breathing {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }
}

.font-sora {
  font-family: 'Sora', sans-serif;
}

.font-manrope {
  font-family: 'Manrope', sans-serif;
}